.git
.gitignore
.env
.env.example
.env.backup
.env.production
node_modules
vendor
public/build
public/hot
public/storage
storage/app
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
.phpunit.result.cache
.phpunit.cache
.tests
1Dcoument&OtherInfo
*.log
.DS_Store
